.questionHeading {
    text-align: center;
    font-size: 24pt;
    letter-spacing: 0.02em;
    margin: 0px!important;
    color: #434343ff!important;
}

.dateCell {
    font-size: 18px;
    padding-right: 0px!important;
    width: 4em;
} 

table {
    width: -webkit-fill-available;
    border-collapse: collapse;
    color: black;
}

td {
    padding: 8px;
}

h3{
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 24px;
}

tr{
    width: -webkit-fill-available;
}

tr:hover{
    background-color: white;
}

h1{
    text-align: center;
}

.responseContainer{
    background-color: #f1c232;
    margin: auto;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 4em;
    margin-left: 4em;
}