.topnavbar {
  display: flex;
  background-color: #f1c232;
  height: 64px;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:first-child > span {
  margin-right: auto;
}

.item:last-child > span {
  margin-left: auto;
}
