body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #d3e3e7;
  background-size: cover;
}

h1 {
  color: #1a242b;
}
p {
  color: #1a242b;
}
h6 {
  position: absolute;
  top: -16px;
  left: 9px;
  color: #1a242b;
}

.container {
  background-color: #3fa6e1;
  margin: auto;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  text-align: left;
  margin: 2em;
  box-shadow: 7px 7px 2px 2px #1a242b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
